[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target

[Service]
Type=notify
MountFlags=slave
ExecStart=/usr/bin/docker -d -G wheel

[Install]
WantedBy=multi-user.target
